@model Post

    <div class="container">
        <h2 class="text-center">@Model.Title</h2>
        <div class="row  h-100">
            <div class="col h-100">
                <p><markdown>@Model.Body</markdown></p>


                <p>Posted by @Model.UserName</p>
            </div>
            <div class="col  h-100 ">

                @if (!String.IsNullOrEmpty(Model.Image) && Model.Image != "Error")
                {
                    var imagePath = $"/Image/{Model.Image}";

                    <img class="block" src="@imagePath" />

                }
            </div>


        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="comments">
                @{
                    await Html.RenderPartialAsync("Comment", new CommentViewModel { PostId = Model.Id });
                }
                @foreach (var c in Model.Comments)
                {
                <p>
                    <markdown>@c.Text</markdown> ---- @c.Created --- Posted by @c.UserName
</p>
                }
            </div>
        }
        else
        {
            <div><a asp-action="Login" asp-controller="Auth">Sign in</a> to comment</div>
        }
    </div>